.OwnerAppHeader {
	position: absolute;
	background-color: #ffc0c0;
	height: 5em;
	width: 100%;
	border-left: 1px solid rgb(111, 10, 10);
	border-right: 1px solid rgb(228, 224, 224);
}
.OwnerAppHeader #faBars {
	float: left;
	margin-top: 3%;
	margin-left: 2%;
}
.OwnerAppHeader #logo {
	margin-top: -10px;
	margin-left: 31%;
	width: 100px;
}
.OwnerAppHeader #QRcode {
	float: right;
	z-index: 10px;
}
.OwnerAppHeader #bookMark {
	float: left;
	margin-left: 90px;
}
.OwnerAppHeader #bell {
	float: right;
	margin-top: 3%;
	margin-right: 2%;
	width: 50px;
}
