.OwnerAppFooter {
	position: relative;
	height: 100%;
	background-color: rgb(238, 238, 238);
	border-left: 1px solid rgb(111, 10, 10);
	border-right: 1px solid rgb(228, 224, 224);
	z-index: 0;
}
.OwnerAppFooter button {
	position: relative;
	width: 30%;
	height: 50px;
	max-height: 10%;
	border: none;
	background-color: rgb(238, 238, 238);
}
